.login-wrapper {
    background: white;
}

.login-box {
    width: 400px;
    margin: 50px auto;
    height: 300px;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 50px 40px;
}

.login-btn {
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}
